@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Quicksand&display=swap");

html {
  bottom: 0%;
}

body {
  background: url(../resources/img/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Amatic SC;
  color: white;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

h1 {
  font-size: 6em;
  text-align: center;
}

h2 {
  padding-top: 8px;
  padding-left: 10px;
}

p {
  font-family: Quicksand;
  font-size: 1em;
  margin: 10px;
  padding-bottom: 10px;
  text-align: justify;
}

button {
  width: 100%;
  border: unset;
  background-color: unset;
  color: white;
  border: 1px solid white;
}

button:focus {
  outline: none;
}

.closebutton {
  font-size: 1.4em;
}

.nav-buttons {
  font-size: 2em;
  border: white solid 1px;
  height: 30px;
}

.container {
  background: rgba(255, 255, 255, 0.26);
  padding-right: 25px;
}

.tutorial {
  padding-left: 10px;
  padding-right: 0%;
  padding-bottom: 10px;
}

.tutorial > .box {
  background-color: rgba(0, 0, 0, 0.281);
}

img {
  width: 100%;
}

.placeholder {
  height: 600px;
}
