@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Quicksand&display=swap");

html {
  bottom: 0%;
}

body {
  background: url(../img/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Quicksand;
  color: white;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

h1 {
  font-size: 6em;
  text-align: center;
  font-family: Amatic SC;
}

h2 {
  padding-top: 8px;
  margin-top: 30px;
  font-family: Amatic SC;
}

p {
  font-family: Quicksand;
  font-size: 1em;
  text-align: justify;
}

ul {
  font-family: Quicksand;
  margin: 0%;
  padding-bottom: 10px;
}

button {
  width: 100%;
  border: unset;
  background-color: unset;
  color: white;
  border: 1px solid white;
}

button:focus {
  outline: none;
}

.closebutton {
  font-size: 1.4em;
}

.nav-buttons {
  font-size: 1.5em;
  font-family: Amatic SC;
  border: white solid 1px;
  height: 30px;
}

.container {
  background: rgba(92, 92, 92, 0.432);
}

.tutorial {
  padding-left: 10px;
  padding-right: 0%;
  padding-bottom: 10px;
}

.tutorial > .box {
  background-color: rgba(0, 0, 0, 0.281);
}

.carousel-indicators {
  top: 0%;
}

img {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  filter: grayscale(0.6);
}

hr {
  border-top: solid white 1px;
  margin: 0%;
}

.footer {
  text-align: center;
  padding-bottom: 15px;
}

.vl {
  border-right: solid white 1px;
  height: 100%;
}

.footer > div > div > div {
  padding-top: 15px;
}
