@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

body {
  background: url(../resources/img/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: Amatic SC;
  font-size: 6em;
  text-align: center;
  color: white;
}

.container {
  background: rgba(255, 255, 255, 0.26);
}
